.addUser {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-area: login;
  transition: all 0.3s ease; 
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addUserForm .inputGroup label {
  margin-top: 10px;
}

.addUserForm .inputGroup input {
  margin-top: 5px;
  padding: 10px;
}

.inputGroup button {
  margin-top: 10px;
}

.login {
  margin-top: 30px;
  text-align: center;
}

.login .btn.btn-primary {
  width: auto;
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: #343a40; 
  text-transform: uppercase;
  margin-bottom: 20px; 
  letter-spacing: 1px; 
}

/* Media Queries */
@media (max-width: 768px) {
    .addUser {
        padding: 20px;
    }

    .addUser h3 {
        font-size: 1.5em; /* تغيير حجم الخط في الشاشات الصغيرة */
    }
    
    .addUserForm .inputGroup input {
        padding: 8px; /* تقليل الحشو في الحقول */
    }
    
    .inputGroup button {
        padding: 10px; /* زيادة حجم الزر لسهولة الاستخدام */
    }
}
